{% extends 'basetemplates/baseadmin.html' %}
<!DOCTYPE html>
{% load static %}
{% block state %}<a href="{% url 'visualize' %}">State</a>{% endblock %}{% block local %}<a href="{% url 'local' state %}">Local Government</a>{%endblock %}/{% block ward %}<a href="{% url 'ward_analysis' localgov %}">Ward</a>{%endblock %}

{% block content %}
    <!--Main layout-->
    <main class="">
        <div class="container-fluid">

            <!--Section heading-->
            <h4 class="text-left font-weight-bold">Members Summary By Ward in {{ state }} Local Government</h4>
            <hr>
            <br>

            <!--Section: Intro-->
            <section class="section section-intro">

                <!--First row-->


                <div class="row ">
                            {%  for any, all in new %}
                    <!--First column-->

                    <div class="col-md-4 mb-3 ms-2 view  hm-blue-strong hoverable" id="ward">
                        <!--Card-->
                         <a href="{% url 'pooling_unit_analysis' ward=any.ward_name %}">
                        <div class="card card-cascade cascading-admin-card">

                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-money blue darken-3"></i>
                                <div class="data">
                                    <p class=" font-weight-bold">{{ any.ward_name }}</p>
                                    <h3>{{ all }}</h3>
                                </div>
                            </div>
                            <!--/.Card Data-->

                            <!--Card content-->
                            <div class="card-block">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ all }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week ({{ all }}%)</p>
                            </div>
                            <!--/.Card content-->
                        </div>
                    </a>
                    </div>
                        <!--/.Card-->
                    <!--/First column-->
                            {% endfor %}
                </div>

            </section>

        </div>
</main>
        <script type="text/javascript">
    $(document).ready(function(){
        $("#ward").click(function() {


            window.location = $(this).find("a").attr("href");
  return false;
})
    });
    </script>
{% endblock %}
<!-- section intro 2 -->

            <!--Section: Intro-->
    <!--/Main layout-->